<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Trumpet - Spread your Fake News</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

		<!-- ============================== Styles ============================== -->
		<link href="../static/css/shared/main.css" 																					th:href="@{/css/shared/main.css}" 						rel="stylesheet" />
		<link href="../static/css/shared/dialogs.css"     																			th:href="@{/css/shared/dialogs.css}"     				rel="stylesheet" />
		<link href="../static/css/shared/navigationBar.css" 																		th:href="@{/css/shared/navigationBar.css}" 				rel="stylesheet" />
		<link href="../static/css/shared/footerButtons.css" 																		th:href="@{/css/shared/footerButtons.css}"				rel="stylesheet" />
		<link href="../static/css/profilePage/profilePage.css" 																		th:href="@{/css/profilePage/profilePage.css}" 			rel="stylesheet" />
		<link href="../static/css/profilePage/profilePage_desktop.css" media="screen and (min-width:1000px)" 						th:href="@{/css/profilePage/profilePage_desktop.css}" 	rel="stylesheet" />
		<link href="../static/css/profilePage/profilePage_tablet.css"  media="screen and (min-width:620px) and (max-width:999px)" 	th:href="@{/css/profilePage/profilePage_tablet.css}" 	rel="stylesheet" />
		<link href="../static/css/profilePage/profilePage_mobile.css"  media="screen and (min-width:0px) and (max-width:619px)" 	th:href="@{/css/profilePage/profilePage_mobile.css}" 	rel="stylesheet" />

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
			<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
		<script type="text/javascript" th:src="@{/js/layout.js}"></script>
		<script type="text/javascript" th:src="@{/js/searchResultHandler.js}"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
	</head>
	<!-- ======================================== BODY ======================================== -->
	<body>

		<script>
			$( document ).ready(function() {
				main();
			});
		</script>

		<!-- =================================== TITLE ======================================== -->
		<div id="titlecontainer" class="titleContainer">
			<img th:src="@{/images/logoFont.svg}" class="titleImage" />
		</div>
		<!-- ================================= Navigation ===================================== -->
		<div id="topbar">
			<div class="topbarContent">
				<div id="navigationbar" class="navigationBar">
					<div class="buttonWrapperLeft">
						<a th:href="@{/global}"> <button class="button" > Global </button> </a>
						<a th:href="@{/subscriptions}"> <button class="button" > Meine Abos    </button> </a>
					</div>
					<img th:src="@{/images/logo.svg}" id="logoSmall" class="navigationLogo" />
					<div class="buttonWrapperRight">
						<a> <button th:text="${page.user.name}" class="button active" > </button> </a>
						<div class="button">
							<button class="toggleSearch" th:onclick="${'openSearchBar()'}" > <i class="material-icons button-icon">search</i> </button>
						</div>
					</div>
				</div>
				<div id="searchbar" class="searchBar" th:object="${page}">
					<div class="searchbarInputWrapper">
						<input id="searchFieldInput" type="text" placeholder="Suchen" class="searchInputField"/>
						<input type="submit" value="Suchen" th:onclick="${'searchForUsersProfile()'}" class="searchButton" data-toggle="modal" data-target="#searchResults"/>
					</div>
					<div class="button2">
						<button class="toggleSearch" th:onclick="${'closeSearchBar()'}" > <i class="material-icons button-icon">close</i> </button>
					</div>
				</div>
			</div>
		</div>

		<!-- Trigger the modal with a button -->
		<div class="loginWrapper">
			<button type="button" class="footer-button" data-toggle="modal" data-target="#login"> Registrieren 	</button>
			<button type="button" class="footer-button" data-toggle="modal" data-target="#login"> Login 		</button>
		</div>

		<div id="contentwrapper" class="profilePageContentWrapper">
			<div class="profilePageUserInfo">
				<div class="profilePagePersonalInformation">
					<img th:src="@{/images/profileImage.jpg}" class="profilePageProfileImage"/>
				</div>
				<div>
					<div class="profilePageNameWrapper">
						<p th:text="${page.user.name}" class="profilePageFullName"> </p>
						<p th:text="${page.user.tagName}" class="profilePageTagName"> </p>
					</div>
					<div class="profilePageFollowerInfo">
						<div class="profilePageFollowerWrapper" data-toggle="modal" data-target="#followersList">
							<p class="profilePageFollowerHeadline"> Followers </p>

							<!-- ==================== Follower-Count ====================-->
							<p th:text="${page.user.followerCount}" class="profilePageFollowerValue"> </p>
						</div>
						<div class="profilePageFollowerWrapper" data-toggle="modal" data-target="#subscriptionsList">
							<p class="profilePageFollowerHeadline"> Following </p>

							<!-- ==================== Subscriptions-Count ====================-->
							<p th:text="${page.user.subscriptionsCount}" class="profilePageFollowerValue"> </p>
						</div>
					</div>
				</div>
			</div>
			<div class="profilePagePostsWrapper">
				<!-- =================================== Content ====================================== -->
				<div class="newPostWrapper">
					<div class="newPostContainer">
						<form class="fakeNews">
							<textarea placeholder="Covfefe..." class="fakeNewsInput" maxlength="146"></textarea>
							<div class="newPostSendButtonWrapper">
								<p>0/146</p>
								<button class="trumpit"> Trump that </button>
							</div>
						</form>
					</div>
				</div>

				<!-- =================================== Post-Wrapper ====================================== -->
				<div class="profilePagePosts">

					<!-- =============================== Post ======================================= -->
					<th:block th:each="tweet : ${page.personalTweets}">
						<div th:object="${tweet}" class="postWrapper">
							<div class="postHeadWrapper">
								<div class="postNameImageWrapper">
									<div class="profileImage">
										<img th:src="@{/images/profileImage.jpg}" class="profileImage"/>
									</div>
									<a th:href="@{'/profile/'+${tweet.user.name}}">
										<div class="postNameWrapper">
											<div>
												<p th:text="${tweet.user.name}" class="postFullName"> </p>
											</div>
											<div>
												<p th:text="${tweet.user.tagName}" class="postTagName"></p>
											</div>
										</div>
									</a>
								</div>
								<div class="postTimeTag">
									<p th:text="${tweet.timeStamp}" class="postTagName"> </p>
								</div>
							</div>
							<div class="postTextWrapper">
								<p th:text="${tweet.message}" class="postText"> </p>
							</div>
						</div>
					</th:block>

				</div>
			</div>
		</div>


		<!-- =============================== Login-Dialog ======================================= -->

		<div id="login" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="dialogHeader">
		        <h4 class="dialogTitle">Login</h4>
		        <button type="button" class="dialogCloseButton" data-dismiss="modal"><i class="material-icons button-icon">close</i></button>
		      </div>
		      <div class="dialogBody">
		        <form class="inputForm">
		        	<div class="loginFormLineWrapper">
				  		<i class="material-icons button-icon login-icon">account_circle</i>
				  		<input class="inputField" placeholder="Benutzername" type="text" name="username"/>
		        	</div>
		        	<div class="loginFormLineWrapper">
						<i class="material-icons button-icon login-icon">lock</i>
						<input class="inputField" placeholder="Passwort" type="password" name="psw"/>
		        	</div>
				</form>
		      </div>
		      <div class="dialogFooter">
		        <button type="button" class="cancelButton" data-dismiss="modal">Abbrechen</button>
		        <button type="button" class="okButton" data-dismiss="modal">Anmelden</button>
		      </div>
		    </div>

		  </div>
		</div>

		<!-- =============================== Search-Results ======================================= -->

		<div id="searchResults" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="dialogHeader">
		        <h4 class="dialogTitle">Suchergebnisse</h4>
		        <button type="button" class="dialogCloseButton" data-dismiss="modal"><i class="material-icons button-icon">close</i></button>
		      </div>
		      <div id="searchResultDialogBody" class="dialogListBody">
				<!-- Search-Results will be below -->
		      </div>
		    </div>

		  </div>
		</div>

		<!-- =============================== Followers - List ======================================= -->

		<div id="followersList" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="dialogHeader">
		        <h4 class="dialogTitle"> Follower </h4>
		        <button type="button" class="dialogCloseButton" data-dismiss="modal"><i class="material-icons button-icon">close</i></button>
		      </div>
		      <div class="dialogListBody">

				<th:block th:each="follower : ${page.user.follower}">
			        <div th:object="${follower}" class="userListElement">
						<div class="listProfileImage">
							<img th:src="@{/images/profileImage.jpg}" class="listProfileImage"/>
						</div>
						<div class="listTextWrapper">
							<p th:text="${follower.name}" class="listFullName"> </p>
						</div>
						<div class="listTextWrapper">
							<p th:text="${follower.tagName}" class="listTagName"> </p>
						</div>
						<div class="listTextWrapper">
							<i class="material-icons">keyboard_arrow_right</i>
						</div>
					</div>
				</th:block>

		      </div>
		    </div>

		  </div>
		</div>

		<!-- =============================== Subscriptions - List ======================================= -->

		<div id="subscriptionsList" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="dialogHeader">
		        <h4 class="dialogTitle"> Abbonements </h4>
		        <button type="button" class="dialogCloseButton" data-dismiss="modal"><i class="material-icons button-icon">close</i></button>
		      </div>
		      <div class="dialogListBody">

				<th:block th:each="subscription : ${page.user.subscriptions}">
			        <div th:object="${subscription}" class="userListElement">
						<div class="listProfileImage">
							<img th:src="@{/images/profileImage.jpg}" class="listProfileImage"/>
						</div>
						<div class="listTextWrapper">
							<p th:text="${subscription.name}" class="listFullName"> </p>
						</div>
						<div class="listTextWrapper">
							<p th:text="${subscription.tagName}" class="listTagName"> </p>
						</div>
						<div class="listTextWrapper">
							<i class="material-icons">keyboard_arrow_right</i>
						</div>
					</div>
				</th:block>

		      </div>
		    </div>

		  </div>
		</div>

	</body>
</html>
