<!DOCTYPE HTML>
<html xmlns:th="http://www.thymeleaf.org">
	<head>
		<title>Trumpet - Spread your Fake News</title>
		<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
		<meta charset="utf-8" />
		<meta http-equiv="X-UA-Compatible" content="IE=edge" />
		<meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no"/>

		<!-- ============================== Styles ============================== -->
		<link href="../static/css/shared/main.css" 																								th:href="@{/css/shared/main.css}" 									rel="stylesheet" />
		<link href="../static/css/shared/dialogs.css"     																						th:href="@{/css/shared/dialogs.css}"     							rel="stylesheet" />
		<link href="../static/css/shared/navigationBar.css" 																					th:href="@{/css/shared/navigationBar.css}" 							rel="stylesheet" />
		<link href="../static/css/shared/footerButtons.css" 																					th:href="@{/css/shared/footerButtons.css}"							rel="stylesheet" />
		<link href="../static/css/subscriptionPage/subscriptionPage.css" 																		th:href="@{/css/subscriptionPage/subscriptionPage.css}" 			rel="stylesheet" />
		<link href="../static/css/subscriptionPage/subscriptionPage_desktop.css" media="screen and (min-width:769px)" 							th:href="@{/css/subscriptionPage/subscriptionPage_desktop.css}" 	rel="stylesheet" />
		<link href="../static/css/subscriptionPage/subscriptionPage_tablet.css"  media="screen and (min-width:415px) and (max-width:768px)" 	th:href="@{/css/subscriptionPage/subscriptionPage_tablet.css}" 		rel="stylesheet" />
		<link href="../static/css/subscriptionPage/subscriptionPage_mobile.css"  media="screen and (min-width:0px) and (max-width:414px)" 		th:href="@{/css/subscriptionPage/subscriptionPage_mobile.css}" 		rel="stylesheet" />

		<link href="https://fonts.googleapis.com/icon?family=Material+Icons" rel="stylesheet"/>
		<!-- The above 3 meta tags *must* come first in the head -->
		<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
			<link th:href="@{/webjars/bootstrap/3.3.4/css/bootstrap.min.css}"
			rel="stylesheet" media="screen" />
		<script type="text/javascript" th:src="@{/js/layout.js}"></script>
		<script type="text/javascript" th:src="@{/js/searchResultHandler.js}"></script>
		<script type="text/javascript" th:src="@{/js/postHandler.js}"></script>
		<script type="text/javascript" th:src="@{/js/authenticationHandler.js}"></script>
		<script type="text/javascript" th:src="@{/js/websocket.js}"></script>
		<script	type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/sockjs-client/1.1.4/sockjs.js"></script>
		<script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/stomp.js/2.3.3/stomp.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
		<script th:src="@{/webjars/bootstrap/3.3.4/js/bootstrap.min.js}"></script>
	</head>
	<!-- ======================================== BODY ======================================== -->
	<body>

		<script>
			$( document ).ready(function() {
				layoutMain();
			});
		</script>

		<!-- =================================== TITLE ======================================== -->
		<div id="titlecontainer" class="titleContainer">
			<img th:src="@{/images/logoFont.svg}" class="titleImage" />
		</div>
		<!-- ================================= Navigation ===================================== -->
		<div id="topbar">
			<div class="topbarContent">
				<div id="navigationbar" class="navigationBar">
					<div class="buttonWrapperLeft">
						<a th:href="@{/global}"> <button class="button" > Global </button> </a>
						<a th:href="@{/subscriptions}"> <button class="button active" > Meine Abos    </button> </a>
					</div>
					<img th:src="@{/images/logo.svg}" id="logoSmall" class="navigationLogo" />
					<div class="buttonWrapperRight">
						<a  th:href="@{/profile/Donald%20Trump}"> <button class="button" > Meine Seite   </button> </a>
						<div class="button">
							<button class="toggleSearch" th:onclick="${'openSearchBar()'}" > <i class="material-icons button-icon">search</i> </button>
						</div>
					</div>
				</div>
				<div id="searchbar" class="searchBar">
					<div class="searchbarInputWrapper">
						<input id="searchFieldInput" type="text" placeholder="Suchen" class="searchInputField"/>
						<input type="submit" value="Suchen" th:onclick="${'searchForUsersNonProfile()'}" class="searchButton" data-toggle="modal" data-target="#searchResults"/>
					</div>
					<div class="button2">
						<button class="toggleSearch" th:onclick="${'closeSearchBar()'}" > <i class="material-icons button-icon">close</i> </button>
					</div>
				</div>
			</div>
		</div>

		<!-- =================================== Content ====================================== -->
		<div id="contentwrapper" class="content">

			<!-- =============================== Post ======================================= -->
			<th:block th:each="tweet : ${page.subscriptionTweets}">
				<div th:object="${tweet}" class="postWrapper">
					<div class="postHeadWrapper">
						<div class="postNameImageWrapper">
							<div class="profileImage">
								<img th:src="@{/images/profileImage.jpg}" class="profileImage"/>
							</div>
							<a th:href="@{'/profile/'+${tweet.user.name}}">
								<div class="postNameWrapper">
									<div>
										<p th:text="${tweet.user.name}" class="postFullName"> </p>
									</div>
									<div>
										<p th:text="${tweet.user.tagName}" class="postTagName"></p>
									</div>
								</div>
							</a>
						</div>
						<div class="postTimeTag">
							<p th:text="${tweet.timeStamp}" class="postTagName"> </p>
						</div>
					</div>
					<div class="postTextWrapper">
						<p th:text="${tweet.message}" class="postText"> </p>
					</div>
				</div>
			</th:block>

		</div>

		<!-- =============================== Search-Results ======================================= -->

		<div id="searchResults" class="modal fade" role="dialog">
		  <div class="modal-dialog">

		    <!-- Modal content-->
		    <div class="modal-content">
		      <div class="dialogHeader">
		        <h4 class="dialogTitle">Nutzer</h4>
		        <button type="button" class="dialogCloseButton" data-dismiss="modal"><i class="material-icons button-icon">close</i></button>
		      </div>
		      <div id="searchResultDialogBody" class="dialogListBody">
				<!-- Search-Results will be below -->
		      </div>
		    </div>

		  </div>
		</div>

	<!--
		<h1>Greeting!</h1>
		<p th:text="'Hello ' + ( ${greeting.name} != null ? ${greeting.name} : 'World') + '!'" />
		<p th:text="${greeting.content} != null ? 'Your message: ' + ${greeting.content}" />

		<h3>Your Comment</h3>
		<form action="#" th:action="@{/greeting}" th:object="${greeting}"
			method="post">
			<p> Name <input type="text" th:field="*{name}" /></p>
			<p> Message <input type="text" th:field="*{content}" /></p>
			<p> Bootstrap <input type="checkbox" th:field="*{bootstrap}"/></p>
			<p> <input type="submit" value="Submit" /></p>
		</form>
		<a th:href="@{/greeting}">Reset</a>
	 -->

	</body>
</html>
