/* ========== Title ========== */

div.titleContainer {
	width: 100%;
	padding: 1em;
	box-sizing: border-box;
	background-color: #FFF3E0;
	color: white;
	display: flex;
	justify-content: center;
	overflow: hidden;
}

img.titleImage {
	width: 100%;
	max-width: 500px;
}

/* ========== Navigation ========== */

div.navigationBar {
	display: flex;
	height: 50px;
	flex-direction: row;
	justify-content: space-between;
	align-items: center;
	width: 100%;
	background-color: white;
}

div#topbar {
	height: 50px;
	width: 100%;
	background-color: white;
}

div.topbarContent {
	margin: auto;
	max-width: 1080px;
}

img.navigationLogo {
	height: 3em;
}

div.buttonWrapperLeft {
	width: 100%;
	display: flex;
	justify-content: flex-start;
	align-items: center;
}

div.buttonWrapperRight {
	width: 100%;
	display: flex;
	justify-content: flex-end;
	align-items: center;
}

button.button {
	border-bottom: 4px solid white;
	height: 50px;
	width: 21vw;
	max-width: 250px;
	background-color: white;
	font-weight: bold;
	border-radius: 0em;
	transition: ease-in-out 0.2s;
}

button.button:active {
	border-bottom: 4px solid #FB8C00;
	color: #FB8C00;
	background-color: #FFE0B2;
	transition: ease-in-out 0.2s;
}

div.button {
	width: 21vw;
	max-width: 250px;
	display: flex;
	justify-content: center;
}

div.button2 {
	width: 21vw;
	max-width: 157px;
	display: flex;
	justify-content: flex-start;
}

button.active {
	border-bottom: 4px solid #FB8C00;
	color: #FB8C00;
	transition: ease-in-out 0.2s;
}

button.toggleSearch {
	height: 42px;
	width: 42px;
	box-sizing: border-box;
	margin-left: 1em;
	margin-right: 1em;
	background-color: #FB8C00;
	font-weight: bold;
	color: white;
	border-radius: 36px;
	display: flex;
	justify-content: center;
	align-items: center;
}

i.button-icon {
	font-size: 26px;
}

button.marginRight {
	margin-right: 1.5em;
}

div.searchBar {
	width: 100%;
	display: flex;
	height: 50px;
	justify-content: flex-end;
	align-items: center;
	background-color: white;
}

input.searchInputField {
	border: none;
	width: calc(85% - 64px);
	max-width: 400px;
	outline: none;
	padding: 0.5em 1em;
	border-radius: 0.35em 0em 0em 0.35em;
	background-color: #F5F5F5;
}

div.searchbarInputWrapper {
	max-width: 500px;
	display: flex;
	justify-content: center;
	width: 85%
}

div.searchbarLayoutPlaceholder{
	height: 20px;
	width: 50px;
}

button.searchButton {
	height: 36px;
	outline: none;
	border: none;
	border-radius: 0em 0.35em 0.35em 0em;
	background-color: #FB8C00;
	color: white;
}

/* ========== Navigation ========== */

div.content {
	width: 100%;
	max-width: 1280px;
	display: flex;
	flex-direction: row;
	flex-wrap: wrap;
	box-sizing: border-box;
	padding: 0.5em;
	margin: auto;
	background-color: #F5F5F5;
}

div.postWrapper {
	background-color: white;
	border-radius: 0.25em;
	box-sizing: border-box;
	margin: 0.5em;
	padding: 1em;
}

/* ========== Post ========== */

div.postHeadWrapper {
	display: flex;
	flex-direction: row;
	justify-content: space-between;
	width: 100%;
	box-sizin: border-box;
}

div.profileImage {
	display: flex;
	justify-content: center;
	align-items: center;
}

img.profileImage {
	width: 42px;
	height: 42px;
	border-radius: 56px;
	overflow: hidden;
}

div.postNameImageWrapper {
	display: flex;
	flex-direction: row;
}

div.postNameWrapper {
	display: flex;
	flex-direction: column;
	justify-content: space-around;
}

p.postFullName {
	margin-left: 1em;
	color: #14171a;
    font-size: 14px;
    font-weight: bold;
}

p.postTagName {
	margin-left: 1em;
	font-size: 14px;
    color: #657786;
}

div.postTimeTag {
	display: flex;
	justify-content: flex-end;;
}

div.postTextWrapper {
	margin-top: 1em;
	margin-left: 0.5em;
	margin-right: 0.5em;
	margin-bottom: 0.5em;
}

p.postText {
	font-size: 14px;
    line-height: 20px;
}

/* ========== Login Dialog ========== */

input.inputField {
	border-top: none;
	border-left: none;
	border-right: none;
	border-bottom: 1px solid #BDBDBD;
	padding: 0.25em 1em;
	margin: auto;
	width: calc(100% - 28px);
	max-width: 350px;
	margin: 0.5em 1em;
	font-size: 1.2em;
}

div.loginFormLineWrapper {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
}

form.inputForm {
	width: 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	flex-wrap: wrap;
}

